/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 20px;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
}

a{
  transition: all 0.4s ease;
  font-size: 20px;
  
}
.logo img{
   width: 180px;
   height: 110px;
} */

 /* .menu{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 30px;
    font-size: 10px;  
 } */
/* 
 button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#5D20D2;
    color: white;
    font-size: 18px;
    cursor: pointer;
 } */
