/* .footer {
  padding: 20px 40px;
  background-color: #efe9fb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo-body {
  text-align: left;
  padding-right: 20px;
  line-height: 1.6;
}

.logo-body p {
  font-size: 18px;
}

.links {
  padding: 30px;
}
ul {
  list-style-type: none;
  line-height: 2;
}
h1 {
  color: #5d20d2;
  font-size: 20px;
}
.icons {
  display: flex;
  align-items: start;
  gap: 5px;
}
.icon {
  color: #5d20d2;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
} */
