@import "tailwindcss";

@theme {
  --font-primary: "Inter", "sans-serif";

  /* Color Palette */
  --color-primary-100: #5D20D2;
  --color-primary-200: #411693;
  --color-primary-300: #efe9fb;
  --color-gray-100:#3A3A3AE5;
  --color-gray-200: #E5F1F5;
  --color-gray-300: #3A3A3A;
  --color-white: #FFFFFF;
  --color-white-100: #EFE9FB;
  --color-white-200: #FCFCFC;
  --color-black: #000000;
  --color-black-100:#4A4A4A;
  --color-blue: #898EFC;


  
  /* Font sizes (scale) */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 44px;
  --text-hero: 55px;

  /* Line heights */
  --leading-tight: 1.1;
  --leading-normal: 1.5;
  --leading-relaxed: 1.7;

  /* font weight*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/* Headings */
@utility heading-hero {
  font-family: var(--font-primary);
  font-size: clamp(32px, 5vw, var(--text-hero));
  line-height: var(--leading-tight);
  font-weight: 700;
}

@utility heading-xl {
  font-family: var(--font-primary);
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  font-weight: 600;
}

@utility heading-lg {
  font-family: var(--font-primary);
  font-size: var(--text-3xl);
  line-height: var(--leading-tight);
  font-weight: 600;
}

/* Body text */
@utility text-body {
  font-family: var(--font-primary);
  font-size: var(--text-base);
  line-height: var(--leading-relaxed);
}

@utility text-body-lg {
  font-family: var(--font-primary);
  font-size: var(--text-xl);
  line-height: var(--leading-relaxed);
}

/* Small text */
@utility text-caption {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
}


