@import "tailwindcss";

@theme {
  --font-primary: "Inter", "sans-serif";

  /* Color Palette */
  --color-primary-100: #5d20d2;
  --color-primary-200: #411693;
  --color-primary-300: #efe9fb;
  --color-primary-400: #7946da;
  --color-primary-500: #391480;
  --color-primary-600: #efe9fb66;
  --color-gray-100: #3a3a3ae5;
  --color-gray-200: #e5f1f5;
  --color-gray-300: #3a3a3a;
  --color-gray-400: #3a3a3ab2;
  --color-gray-500: #d9d9d9;
  --color-white: #ffffff;
  --color-white-100: #efe9fb;
  --color-white-200: #fcfcfc;
  --color-black: #000000;
  --color-black-100: #4a4a4a;
  --color-black-200: #52525c;
  --color-black-300: #232323;
  --color-blue: #898efc;
  --color-yellow: #faf8d1;
  --color-red: #ffedec;
  --color-green: #d1fadf;

  /* Font sizes (scale) */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  
  --text-2xl: 24px;
  --text-xxl: 28px;
  --text-3xl: 32px;
  --text-4xl: 44px;
  --text-hero: 55px;

  /* Line heights */
  --leading-tight: 1.1;
  --leading-normal: 1.5;
  --leading-relaxed: 1.7;

  /* font weight*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/* Headings */
@utility heading-hero {
  font-size: clamp(32px, 5vw, var(--text-hero));
  line-height: var(--leading-tight);
  font-weight: 800;
}

@utility heading-xl {
  font-family: var(--font-primary);
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  font-weight: 600;
}

@utility heading-lg {
  font-family: var(--font-primary);
  font-size: var(--text-xxl);
  line-height: var(--leading-tight);
  font-weight: 600;
}

/* Body text */
@utility text-body {
  font-family: var(--font-primary);
  font-size: var(--text-base);
  line-height: var(--leading-relaxed);
}

@utility text-body-lg {
  font-family: var(--font-primary);
  font-size: var(--text-xl);
  line-height: var(--leading-relaxed);
}

/* Small text */
@utility text-caption {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
}

@utility container {
  max-width: 1200px;
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  background: #7969c9;
  border-radius: 999px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}