.container{
  overflow-y: hidden;
}
.home-page {
  padding: 20px 40px;
  margin: 20px;
  display: flex;
  height: 100%;
}
.text-container {
  flex: 3;
}
.wrapper {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;
}
.wrapper p {
  font-size: 20px;
  color: #3a3a3ae5;
}
.text-heading {
  font-size: 50px;
  color: #411693;
}
.img-container {
  flex: 2;
  position: relative;
  display: flex;
  align-items: center;
}
/* second section  */
.second-section {
  margin: 0 20px;
  text-align: center;
  width: 100%;
}

.second-section h1 {
  font-size: 40px;
  color: #411693;
}

.second-section p {
  font-size: 20px;
  color: #3a3a3ae5;
  margin: 20px 0;
}

.third-section {
  padding: 20px 40px;
  text-align: center;
  background-color: #efe9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 30px;
  font-size: 20px;
  color: #411693;
}

.boxes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}
.box {
  background-color: white;
  padding: 20px;
  text-align: left;
  width: 30%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
}

.box h1 {
  color: #411693;
  font-size: 25px;
  margin: 5px 0;
}
p {
  color: #3a3a3ae5;
  font-size: 20px;
  margin: 5px 0;
}

.img-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff6b52;
  border-radius: 50%;
}

/* fourth-section */
.fourth-section {
  padding: 10px 0px;
  text-align: center;
}
.top-img {
  width: 100%;
  height: 100%;
}
.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.testimonial-img {
  position: relative;
  width: 100%;
  height: 250px;
}

.testimonial-img img {
  width:250px;
  /* height: 100%; */
  object-fit: cover;
  padding: 0px;
}
.circle-2 {
  position: absolute;
  background-color: #898efc;
  border-radius: 50%;
  border-top-right-radius: 0%;
}

.testimonial-text {
  padding: 0 20px;
  margin: 0 20px;
  text-align: left;
  line-height: 1.6;
}

.author {
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
  color: #555;
}
.author-role {
  font-size: 14px;
  color: #777;
}

/* responsive Design */

/* if screen is smaller than 480 px change BG to red */
 @media screen and (max-width: 480px){
.container{
    background-color: red;
    width: auto;

 
  }
  
  
}

